<html>
  <head>
    <style>
      .container {
        font-family: Arial, sans-serif;
        max-width: 600px;
        margin: auto;
        background: #f9f9f9;
        padding: 20px;
        border-radius: 10px;
      }
      .header {
        background: #4caf50;
        color: white;
        padding: 10px;
        border-radius: 10px 10px 0 0;
        text-align: center;
      }
      .content {
        margin: 20px 0;
      }
      .footer {
        text-align: center;
        color: #888;
        font-size: 12px;
      }
    </style>
  </head>
  <body>
    <div class='container'>
      <div class='header'>
        <h2>{{subject}}</h2>
      </div>
      <div class='content'>
        <p>{{text}}</p>
      </div>
      <div class='footer'>
        Sent with Mohamed from NestJS Mailer
      </div>
    </div>
  </body>
</html>